<div class = "container">
  <div class = "jumbotron center showPage">
    <div class = "blog_pic center row" id = "showMargin">
      <%= image_tag("me2.png", :id => "aboutImg") %>
    </div>
    <div class = "header marginBottom">
      <%= @article.title %>
    </div>
    <div class = "content">
      <p><%= simple_format(@article.content) %></p>
    </div>
  </div>
</div>